<p>
  <b>Name:</b>
  <%=h @building.name %>
</p>

<p>
  <b>Year:</b>
  <%=h @building.year %>
</p>

<p>
  <b>City:</b>
  <%=h @building.city_id %>
</p>

<p>
  <b>Address:</b>
  <%=h @building.address %>
</p>

<p>
  <b>Directions:</b>
  <%=h @building.directions %>
</p>

<p>
  <b>Description:</b>
  <%=h @building.description %>
</p>


<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>