<script type="text/javascript">
function initialize() {
	var latlng = new google.maps.LatLng(<%=h @building.latitude %>, <%=h @building.longitude %>);

	var myOptions = {
		zoom: 8,
		center: latlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};

	var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

	var marker = new google.maps.Marker({
		position: latlng,
		map: map,
		title: "<%=h @building.name %>"
	});
};

document.observe("dom:loaded", function() {
	initialize();
});
</script>

<h2><%=h @building.name %></h2>

<p><label>Yıl</label>      <%=h @building.year %></p>
<p><label>Şehir</label>    <%=h @building.city.name %></p>
<p><label>Adres</label>    <%= text_area_tag(nil, @building.address, :rows => 5, :cols => 40, :disabled => true) %></p>
<p><label>Tarif</label>    <%= text_area_tag(nil, @building.directions, :rows => 5, :cols => 40, :disabled => true) %></p>
<p><label>Açıklama</label> <%= text_area_tag(nil, @building.description, :rows => 5, :cols => 40, :disabled => true) %></p>

<h2>Fotoğraflar</h2>

<div>
<%- for photo in @building.photos -%>
<div class="thumbnail"><%= link_to image_tag(photo.photo.url(:thumb)), photo %></div>
<%- end -%>
</div>

<p style="clear:both;"><%= button_to 'Fotoğraf ekle', :controller => :photos, :action => :new, :building_id => @building.id %></p>

<h2>Harita</h2>
<div id="map_canvas"></div>
